<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autovol"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Location probe -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Light sensor -->
    <uses-feature android:name="android.hardware.sensor.light" />

    <!-- Wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Battery -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <!-- Running apps -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Activity -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <!-- Audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.microphone" />

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.autovol.TestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.autovol.ResultsActivity"
            android:label="@string/app_name" >
        </activity>

        <service android:name="edu.mit.media.funf.FunfManager" >

            <!-- <meta-data android:name="default" android:value="@string/default_pipeline"/> -->
        </service>
        <service android:name="com.autovol.ActivityRecognitionIntentService" >
        </service>

        <receiver
            android:name="edu.mit.media.funf.Launcher"
            android:enabled="true" >
        </receiver>
        <receiver android:name="com.autovol.UploadAlarm" >
        </receiver>
        <receiver android:name="com.autovol.ResumeControlBroadcast" >
        </receiver>

        <service android:name="com.autovol.UploadService" >
        </service>

        <receiver android:name="com.autovol.ArchiveAlarm" >
        </receiver>

        <service android:name="com.autovol.ArchiveService" >
        </service>
        <service android:name="com.autovol.LocationService" >
        </service>

        <receiver android:name="com.autovol.ClassifyAlarm" >
        </receiver>

        <service android:name="com.autovol.ClassifyService" >
        </service>

        <activity
            android:name="com.autovol.UserActivity"
            android:label="@string/title_activity_user" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.autovol.ResultsFragmentActivity"
            android:label="@string/title_activity_results_fragment" >
        </activity>
    </application>

</manifest>
